.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}
.header__container {
    @include displayFlex(flex, center, space-between);
    padding-top: 10px;
    padding-bottom: 10px;
    @media screen and (min-width: 768px) {
        @include displayFlex(flex, center, null);
        padding-top: 0;
        padding-bottom: 0;
    }
}
.offers__container {
    content: '';

    position: absolute;

    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;

    background: rgba(47, 48, 58, 0.8);
}
.modal__container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 370px;
    height: 100%;
    padding: 40px 0;

    transform: translate(-50%, -50%);

    @media screen and (min-width: 1200px) {
        width: 448px;
    }

}
.menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100%;
    height: 796px;
    max-width: 480px;
    padding: 48px 40px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    transform: translateX(-50%);

    &.is-open {
        display: flex;
        flex-direction: column;
        z-index: 1;
    }
}