.advantages__list {
    display: block;
    margin: auto;
    @media screen and (min-width: 768px) {
        @include displayFlex(flex, null, center);
        margin: 30px auto;
    }
    
}
.advantages__item {
    width: 100%;
    
    @media screen and (min-width: 768px) {
        margin-left: 30px;
        width: 270px;
    }

    &:first-child {
        @media screen and (min-width: 768px) {
        margin-left: 0;
    }}
}
.advantages__img {
    display: flex;
    margin: 30px auto;
    width: 100%;
    background: #F5F4FA;
    border-radius: 4px;
    
    @media screen and (min-width: 768px) {
    @include displayFlex();
    width: 270px;
    height: 120px;
    margin: 0 auto 30px;
    
}}
.advantages__icon {
    width: 70px;
    height: 70px;
    margin: 25px auto;

    @media screen and (min-width: 768px) {
        margin: 0;
}}